/.DS_Store
/.idea/
/.main.mk.checks
/.target_source
/.tclenv.sh
/Makefile
/config.log
/*.a
/*.c
/*.dylib
/*.dSYM/
/*.h
/*.o
/*.out
/*.pc
/*.sql
/*.y
/has_tclsh*
/jimsh
/lemon
/mkkeywordhash
/mksourceid
/srcck1
/src-verify
/testdir*/
/testfixture
/testrun_*/
/testrunner.*
/tsrc/
